<div>
    <h1>About</h1>
    <h2>What is sElect:</h2>
    <p class="about">sElect implements a Three-way Secure and Verifiable E-Voting system, in which voters remain anonymous,
         including to whom the voter elects, using these technologies. <br> <br>
        - Paillier homomorphic encrpytion. <br>
        - Database decentralization and distribution. <br>
        - Magic <br> <br>
        This project was done by Mohammed Mardini and Bassel Rawda.
    </p>
    <h2>Technology:</h2> 
    <p class="about"> sElect uses a number of open source projects to work properly: <br>
        - Handlebars: View engine used for templating pages server-side. <br>
        - node.js: evented I/O for the backend. <br>
        - Express: fast node.js network app framework. <br>
        - jQuery: duh. <br>

        
        
    </p>
    <a href="/">Return To Homepage</a>
</div>