<div class="slider">
  <div class="slide" id="slide-1"> 
    <p class="about">Q: - Is my vote really secured and anonymous ?</p>
    <p class="about">A: Yes, as for security, all data is encrypted using Paillier homomorphic encryption, 
        hashing and tokenization. However, certain attacks come to mind,
        mostly client side and one that stands out, maliability attack where if the server 
        is compromised, the attacker would be able to increase votes. Future releases would include
        a value "a" such that the attacker would be able to insert his own votes unless he has that value 
        "a". As for anonymity, yes you are 100% anonymous since your id is not stored.
    </p></div>
  <div class="slide" id="slide-2">
    <p class="about">Q: - What is paillier homomorphic encryption?</p>
    <p class="about">A: - The Paillier cryptosystem, invented by and named after Pascal Paillier in 1999,
        is a probabilistic asymmetric algorithm for public key cryptography.
        The problem of computing n-th residue classes is believed to be computationally difficult. 
        The decisional composite residuosity assumption is the intractability
        hypothesis upon which this cryptosystem is based.
    </p>    
  </div>
  <div class="slide" id="slide-3">
    <p class="about">Q: - What do i do with my election/voter id ?</p>
    <p class="about">A: - if you receive an election id, it means that you have successfully created 
        an election, you can use this id to view your results.
        Receiveing a voter id means that someone has chosen you to vote on his election, you can 
         use your id to vote on a certain election.
    </p>
  </div>
  <div class="slide" id="slide-4">
    <p class="about">Q: - Can I extend the duration of the election ?</p>
    <p class="about">A: - currently no due to security mesures, however, we will be trying to add 
        that feature while maintaining security.
    </p>
  </div>
  <div class="slide" id="slide-5">
    <p class="about">Q: - I got an error ... or I was sent to a page where someone went wrong, What do I do ?</p>
    <p class="about">A: - Visit https://gitlab.com/mjmardini/FYP-Paillier-Voting and create a new issue detailing 
        what you were doing when you got that error. We will be fixing it as soon as possible.
    </p>
  </div>
</div>
<a href="/">Return To Homepage</a>