<div>
    <h1>Help</h1>
    <p class="about"> - First we navigate to the create election page by pressing on the create election button. <br>
        - Insert election name. <br>
        - Your email address will be used to send the election id and your password. <br>
        - The voter's email addresses are the emails of people who are participating in your election.  <br>
        - The correct format for this field is email seperated by a semi-colomn. for example: abc@def.com;hello@world.com;foo@bar.com <br>
        - The start and end date are the time boundary of your election. For now they cannot be changed after creating the election, so tread lightly.
        <br>
        - As an election admin, you will receive an election id and password that you can use to check your election result at any time by navigating to the result page by pressing on the "View Your Results" page. 
        Enter your election id and password to view results.
        <br>
        - As a voter, you will receive a voter id by email. you can vote by navigating to the vote page by pressing on the "Submit Your Vote" button. Enter your voter id, then you will have 2 choices to pick from. 
        Once you are done, you can submit your vote.  
        </p>
   
    <a href="/">Return To Homepage</a>
</div>