<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <h1>Here are the results for your election</h1>
    <div class="result">

    </div>
    <a href="/">Back Home</a>
</div>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let data = google.visualization.arrayToDataTable([
            ['Option', 'Votes'],
            ['{{option0}}', {{ votesCount0 }}], ['{{option1}}', {{ votesCount1 }}]
        ]);

    let options = {
        width: '100%',
        height: '100%',
        chartArea: { left: 0, top: 0, width: '100%', height: '100%' },
        is3D: true,
        legend: { position: 'left', textStyle: { color: 'white', fontSize: 16, bold: true } },
        backgroundColor: { fill: 'transparent' },
    };

    let chart = new google.visualization.PieChart(document.querySelector('.result'));
    chart.draw(data, options);
    }
</script>